<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>{{ team.full_name }}</h1>
    <h2>{{ team.get_members_str() }}</h2>
    <table class="team">
        <tr><td>Место</td><td>{{ team.place }} ({{ team.group }})</td><td>Дистанция</td><td>{{ "%.2f км"|format(team.total_distance) }}</td></tr>
        <tr><td>Время</td><td>{{ team.time_str }}</td></tr>
        <tr><td>Штраф</td><td>{{ team.penalty }}</td></tr>
        <tr><td>Средний темп</td><td>{{ team.avr_pace|tohhmmss + " мин/км" }}</td></tr>
    </table>
    <svg width="{{ map_width }}px" height="{{ map_height }}px">
        <defs>
            <linearGradient id="grad">
                <stop offset="0%" stop-color="{{ course_color_min_speed|torgb }}"/>
                <stop offset="50%" stop-color="{{ course_color_avr_speed|torgb }}"/>
                <stop offset="100%" stop-color="{{ course_color_max_speed|torgb }}"/>
            </linearGradient>
            <style type="text/css"><![CDATA[
                .course { stroke-opacity: 0.8; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; fill: none; }
                .shadow {
                    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .8));
                    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .8));
                }
                .small { font: bold 13px sans-serif; }
            ]]></style>
        </defs>
        <image xlink:href="{{ map_file }}" />
        <rect rx="5" width={{ map_width }} height="15" fill="url(#grad)"/>
        <text class="small" x="2%" y="12" text-anchor="start">Медлено</text>
        <text class="small" x="50%" y="12" text-anchor="middle">Средне</text>
        <text class="small" x="98%" y="12" text-anchor="end">Быстро</text>
        <polyline class="shadow" stroke="black" stroke-opacity="0.6" stroke-width="6" stroke-linejoin="round" stroke-linecap="round" fill="none" points="{% for cp in cp_list %}{{ cp[0] }} {{ cp[1] }}, {% endfor %}" />
        {% for cp in cp_list %}
        {% if loop.previtem %}
        <line class="course" x1="{{ loop.previtem[0] }}" y1="{{ loop.previtem[1] }}" x2="{{ cp[0] }}" y2="{{ cp[1] }}" stroke="{{ cp[2]|torgb }}"/>
        {% endif %}
        {% endfor %}
        <polyline stroke="black" stroke-opacity="0.8" stroke-width="1" fill-opacity="0.8" fill="{{ cp_list[1][2]|torgb }}" points="{% for p in arrow %}{{ p[0] }} {{ p[1] }}, {% endfor %}" />
        <polyline class="shadow" stroke="magenta" stroke-opacity="0.8" stroke-width="3" fill="none" points="{% for p in start_triangle %}{{ p[0] }} {{ p[1] }}, {% endfor %}" />
        {% set finish_point = cp_list[cp_list|length - 1] %}
        {% if draw_finish_circle %}
        <circle stroke="magenta" stroke-opacity="0.8" stroke-width="3" fill="none" cx="{{ finish_point[0] }}" cy="{{ finish_point[1] }}" r="7" />
        <circle stroke="magenta" stroke-opacity="0.8" stroke-width="3" fill="none" cx="{{ finish_point[0] }}" cy="{{ finish_point[1] }}" r="12" />
        {% endif %}
    </svg>
    <table class="blueTable">
        <thead>
        <tr>
		    {% for i in range(table_titles|length) %}<th>{{ table_titles[i] }}</th>{% endfor %}
        </tr>
        </thead>
        <tfoot>
        <tr>
		    {% for i in range(1, table_summary|length) %}<th>{{ table_summary[i] }}</th>{% endfor %}
        </tr>
        </tfoot>
        <tbody>
        {% for i in range(data|length) %}
        <tr>
            {% for j in range(1, data[i]|length) %}<td>{{ data[i][j] }}</td>{% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
